# System settings
data_file:  HB_data.csv 
trials: 3
timeout: 10
verbose: true
max_epoch: 600
batch_size: 32

gradient_reversal: true # if true, `alpha_flat_step` and `alpha_limit` must be specified.
alpha_flat_step: 739 # Alpha will reach to `alpha_limit` and stay constant after `alpha_flat_step` ecpochs.
# alpha_limit: 0.7172
alpha_limit: 0.4172
decoder_activation: Softplus
dis_beta: 1.1
dis_dropout_rate: 0.056
dis_noise: 0.56
gen_beta: 1.1

# Report Parameters
output_name: report_HB_13_Quad
top_n: 8
gpu: false

## fit method 
fit_method: Quadratic   # Linear, Quadratic, or Isotonic-regression 

shuffle_data: true
random_seed: 1
aux_names: ["nu", "theta", "R", "q", "ring" ]


# Network Structure
n_aux: 5
nstyle: 8
ae_form: FC
dim_in: 550
dim_out: 550 # if ae_form==normal, dim_out is always set to 256
n_layers: 4 # FC only
FC_discriminator_layers: 3 # used only if use_cnn_discriminator==false
use_cnn_discriminator: false

n_sampling: 5000
plot_residual: false 


# Training Parameters
dropout_rate: 0.1
sch_factor: 0.1
sch_patience: 100

lr_base: 0.0008
lr_ratio_Corr: 10
lr_ratio_Mutual: 1
lr_ratio_Reconn: 10
lr_ratio_Smooth: 1
lr_ratio_dis: 1
lr_ratio_gen: 10
optimizer_name: AdamW
spec_noise: 0.02
use_flex_spec_target: true
weight_decay: 0.01
kendall_activation: true
epoch_stop_smooth: 600




